---
---

@import "{{ site.theme }}";

h1 a {
    color: #ffffff;
}

.anchorheader a {
    float: left;
    padding-right: 4px;
    margin-left: -20px;
    line-height: 1;
}

.anchorheader:hover svg {
    visibility: visible;
}

.anchorheader svg {
    visibility: hidden;
}
