---
---

@import "{{ site.theme }}";

h1 a {
    color: #ffffff;
}

h1,h2,h3,h3,h4,h5,h6 a {
    float: left;
    padding-right: 4px;
    margin-left: -20px;
    line-height: 1;
}

a:hover svg {
    visibility: visible;
}

a svg {
    visibility: hidden;
}
